[submodule "deps/libvlc_wrapper"]
	path = deps/libvlc_wrapper
	url = https://github.com/RSATom/ya-libvlc-wrapper.git
[submodule "deps/libvlc-sdk"]
	path = deps/libvlc-sdk
	url = https://github.com/RSATom/libvlc-sdk.git
[submodule "demos/ugly"]
	path = demos/ugly
	url = https://github.com/RSATom/wcjs-ugly-demo.git
